.about-us__block {
  min-height: 452px;

  background: #fff;

  display: flex;
  justify-content: center;
  align-content: center;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

 
    // margin-top: 10vw;
    min-width: 100px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0 10px;
    margin-left: 0;
  }
}

.about-us__head {
  
  margin-top: 100px;

  font-family: Larsseit, sans-serif;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: #22356f;

  @media (max-width: 999px) {
    width: 50%;
    margin-left: 5vw;
  }

  @media (max-width: 768px) {
    margin-top: 50px;
    min-width: 100px;
    width: 100%;
    padding: 0;
    text-align: center;
    margin-left: 0;
  }
}

.about-us__text {
  max-width: 592px;
  margin-left: 225px;
  margin-top: 100px;

  font-family: Larsseit, sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0.01em;

  color: #22356f;

  @media (max-width: 999px) {
    width: 100%;
    margin-left: 0;
    padding-right: 20px;
  }

  @media (max-width: 768px) {
    margin-top: 5vw;
    text-align: center;
    min-width: 100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
  }

  @media (max-width: 540px) {
    font-size: 20px;
    line-height: 28px;
    padding: 0 10px;
  }
}

.about-us__head-next-block {
  padding-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  font-family: Larsseit, sans-serif;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: #22356f;

  background: #fff;

  @media (max-width: 768px) {
    margin-top: -1vw;
    min-width: 100px;
    width: 100%;
    padding: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
