.cards {
  min-height: 502px;

  position: relative;

  display: grid;
  grid-template-columns: repeat(3, 480px);
  grid-template-rows: repeat(2, 480px);
  justify-content: center;
  justify-items: center;

  background: #fff;

  padding-top: 120px;

  @media (max-width: 1440px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 480px);
    justify-content: center;
    justify-items: center;
    padding-top: 100px;
  }

  @media (max-width: 1050px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 480px);
    justify-content: center;
    justify-items: center;
    padding-top: 80px;
  }

  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 480px);
    grid-auto-flow: row;
    padding-top: 60px;
  }
}

.cards__block {
  position: relative;
  width: 100%;
  height: 480px;
}

.cards__block--violet {
  background: #22356f;
}

.cards__block--blue {
  background: #0052c1;
}

.cards__block--img {
  background: url(../images/joanna-kosinska-340748.jpg) 100% 100% no-repeat;
  background-size: cover;

}

.cards__block--green {
  background: #62d0df;
}

.cards__block--lightGray {
  background: #dee1ff;
}

.cards__block--dodgerBlue {
  background: #8f00ff;
}

.cards__item-box--unvisable {
  width: 340px;
  height: 96px;
  margin-left: auto;
  margin-right: auto;

  box-shadow: inset 0 -1px 0 #fff;

  @media (max-width: 450px) {
    width: 255px;
  }
}

.cards__item-dot {
  width: 9px;
  height: 9px;
  position: absolute;
  left: 72px;
  top: 138px;

  border-radius: 50%;

  background: #e9b730;

  @media (max-width: 768px) {
    left: 36px;
  }
}

.cards__item-text {
  width: 220px;
  height: 54px;
  position: absolute;
  left: 20px;
  top: 126px;

  font-family: Larsseit, sans-serif;
  font-size: 32px;
  line-height: 34px;
  letter-spacing: -0.01em;

  padding-left: 78px;

  color: #fff;

  @media (max-width: 768px) {
    left: 10px;
  }

  
}
