.contact-us {
  background-color: #22356f;
  position: relative;

  @media (max-width: 992px) {
    padding: 80px 0 20px;
  }
}

.contact-us__text {
  padding: 100px 40% 40px 12vw;
  min-width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @media (min-width: 1440px) {
    padding: 100px 0 40px 180px;
    width: 100%;
  }

  @media (max-width: 992px) {
    padding: 10px 22vw 20px 7vw;
    width: 50%;
  }

  @media (max-width: 768px) {
    margin-top: 130vw;
    min-width: 100%;
    width: 100%;
    padding: 0;
    text-align: center;
  }
}

.contact-us__text-link {
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.06em;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;

  @media (max-width: 768px) {
    margin-top: -40px;
  }

  @media (max-width: 600px) {
    margin-top: 20px;
  }
}

.contact-us__text-head {
  margin-top: 230px;

  font-size: 64px;
  line-height: 94px;
  letter-spacing: -0.01em;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;

  @media (max-width: 1220px) {
    margin-top: 8vw;
    font-size: 60px;
  }

  @media (max-width: 992px) {
    font-size: 50px;
  }

  @media (max-width: 540px) {
    margin-top: 40px;

    font-size: 48px;
  }
}

.contact-us__text-jeneral {
  margin-top: 75px;

  font-size: 36px;
  line-height: 53px;
  width: 579px;

  color: #fff;

  @media (max-width: 1200px) {
    margin-top: 80px;
    width: 80%;

    @media (max-width: 768px) {
      margin: 20px;
      text-align: center;
      width: 90%;
    }

    @media (max-width: 540px) {
      font-size: 24px;
      line-height: 38px;
    }
  }
}

.contact-us__text-link-help {
  margin-top: 70px;

  font-size: 16px;
  font-weight: bold;
  line-height: 23px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #62d0df;

  @media (max-width: 768px) {
    justify-content: center;
  }

  @media (max-width: 540px) {
    margin-top: 40px;
  }
}

.contact-us__img {
  position: absolute;
  right: 0;
  top: 0;

  width: 480px;
  height: 100%;

  @media (max-width: 1330px) {
    width: 40%;
  }

  @media (max-width: 768px) {
    width: 100%;
    left: 0;
    top: 0;
    height: 130vw;
  }
}
