.nav {

  position: relative;

  &__list {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-basis: auto;

    position: absolute;

    height: 14px;
    margin-left: 607px;
    margin-top: 38px;

    @media (max-width: 1440px) {
      margin-left: 40vw;
      margin-top: 5vh;
    }

    @media (max-width: 1440px) {
      margin-left: 35vw;
      margin-top: 5vh;
    }

    @media (max-width: 768px) {
      display: none;
    }

  }

  &__item {
    display: flex;
  }

  &__link {

    margin: 15px;
    font-family: Larsseit, sans-serif;
    font-size: 14px;
    line-height: 16px;

    text-decoration: none;

    color: #22356f;

    z-index: 1;
  }

  &__link:hover {
    color: #62d0df;
  }

  &__link-home:hover {
    cursor: not-allowed;
  }

  // &__link:hover:before {
  //   width: 50%;
  //   left: 0;
  // }

  // &__link:hover:after {
  //   width: 50%;
  // }

  // &__link:before {
  //   position: absolute;
  //   content: "";
  //   height: 1px;
  //   width: 0;
  //   left: 50%;
  //   bottom: -20px;

  //   background: #22356f;

  //   transition: color 0.3s,
  //     width 0.3s ease-in-out,
  //     left 0.3s ease-in-out;
  // }

  // &__link:after {
  //   position: absolute;
  //   content: "";
  //   height: 1px;
  //   width: 0;
  //   background-color: #22356f;
  //   transition: width 0.3s ease-in-out;
  //   left: 50%;
  //   bottom: -20px;
  // }

  &__list:first-child {
    padding: 0;
  }
}
