.nav {
  position: relative;

  &__list {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-basis: auto;

    position: absolute;

    height: 14px;
    margin-left: 577px;
    margin-top: 3vh;

    @media (max-width: 1440px) {
      margin-left: 40vw;
      margin-top: 3vh;
    }

    @media (max-width: 990px) {
      margin-left: 43vw;
      margin-top: 3vh;
    }

    @media (max-width: 768px) {
      margin-left: 23vw;
      margin-top: 3vh;
    }

    @media (max-width: 540px) {
      display: none;
    }

  }

  &__item {
    display: flex;
    padding-top: 1vw;

    @media (max-width: 990px) {
      padding-top: 3vw;
    }
  }

  &__link {

    margin: 15px;
    font-family: Larsseit, sans-serif;
    font-size: 20px;
    line-height: 22px;

    text-decoration: none;

    color: #22356f;

    z-index: 1;

    @media (max-width: 990px) {
      font-size: 18px;
      line-height: 22px;
      margin: 10px;
    }
  }

  &__link:hover {
    color: #62d0df;
  }

  &__link-home:hover {
    cursor: not-allowed;
  }

  &__list:first-child {
    padding: 0;
  }
}

.toggler {
  display: none;

  &__button {
    display: none;
  }
}

@media (max-width: 540px) {

  .nav {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .toggler {
    position: absolute;
    opacity: 0;
    top: -100%;

    &__button {
      display: block;
      position: relative;
      margin-top: -50px;
      padding: 0;
      top: 21vh;

      left: 50%;
      transform: translate(-30%, 0);

      width: 40px;
      height: 30px;

      cursor: pointer;
      z-index: 3;
    }
  }

  .toggler__span,
  .toggler__span::before,
  .toggler__span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 4px;

    background-color: #62d0df;

    transition-duration: 0.3s;
    z-index: 3;
  }

  .toggler__span::before {
    content: " ";
    top: -8px;
  }

  .toggler__span::after {
    content: " ";
    top: 8px;
  }

  .nav__list {
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    visibility: hidden;
    left: 50%;
    transform: translate(-50%, 0);

    padding: 18vw 0 0;
    margin-left: 0;

    list-style: none;

    transition-duration: 0.5s;
    z-index: 2;
  }

  .item {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-radius: 20px;
    
  }

  .nav__link {

    @media (max-width: 570px) {
      position: relative;
      padding: 15px 0;

      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
    }

    @media (max-width: 450px) {
      padding: 10px 0;

      font-size: 16px;
      font-weight: bold;
    }

    &:hover {
      color: blue;
      transform: scale(1.2);
    }
  }
}

.nav__toggler:checked ~ .toggler__button > .toggler__span {
  transform: rotate(45deg);
  background-color: #62d0df;
}

.nav__toggler:checked ~ .toggler__button > .toggler__span::before {
  top: 0;
  transform: rotate(0);
  background-color: #62d0df;
}

.nav__toggler:checked ~ .toggler__button > .toggler__span::after {
  top: 0;
  transform: rotate(90deg);
  background-color: #62d0df;
}

.nav__toggler:checked ~ .nav__list {
  visibility: visible;
  top: -20px;
}

.nav__link:checked ~ .nav__list {
  visibility: hidden;
  top: -1000%;
}
