.some-info {
  width: 1440px;
  height: 380px;

  background: #fff;
}

.some-info__blocks {
  display: flex;
}

.some-info__img {
  width: 570px;
  height: 380px;
}

.some-info__block {
  width: 870px;
  height: 380px;
  position: relative;
}

.some-info__item-head {
  position: absolute;
  width: 240px;
  height: 48px;
  left: 68px;
  top: 98px;

  font-family: Larsseit, sans-serif;
  font-size: 14px;
  line-height: 11px;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  color: #22356f;
}

.some-info__item-text {
  position: absolute;
  width: 207px;
  height: 115px;
  left: 68px;
  top: 166px;

  font-family: Larsseit, sans-serif;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: -0.01em;

  color: rgba(34, 53, 111, 0.5);
}
