.why-thrive {
  position: relative;
  width: 1437px;
  height: 607px;

  background: #62d0df;
}

.why__thrive-h3 {

  position: absolute;
  width: 223px;
  height: 51px;
  left: 179px;
  top: 151px;
  
  font-family: Larsseit;
  font-size: 36px;
  line-height: 27px;
  letter-spacing: -0.01em;
  
  color: #fff;
}

.why-thrive__text {
  position: absolute;
  width: 555px;
  height: 235px;
  left: 179px;
  top: 277px;
}

.why-thrive__text-bold {
  font-family: Larsseit;
  font-size: 24px;
  line-height: 35px;

  color: #fff;
}

.why-thrive__text-normal {

  font-family: Larsseit;
  font-size: 20px;
  line-height: 30px;

  color: #fff;

}

.why-thrive__svg {
  position: absolute;
  width: 525px;
  height: 604px;
  left: 915px;
}
